<p>Suma {{numbers}}</p>
<div class="btnClick">
    <!-- <button (click)="OnClickPlus()" type="button" class="btn btn-primary btn-lg">+</button>
        <button (click)="OnClickMinus()" type="button" class="btn btn-primary btn-lg">-</button>-->
        <input type="number" [(ngModel)]='value1'>
        <input type="number" [(ngModel)]='value2'>
        <button (click)="Plus(value1,value2)" type="button" class="btn btn-primary btn-lg">+</button>
        <button  type="button" class="btn btn-primary btn-lg">{{operat.name}}</button>
       
</div>