<!--<h1>{{title}}</h1>
<app-heroes></app-heroes>-->



<div class="container">
    <div class="row">
        <app-user *ngFor='let u of imageBlocksArray' [user]='u' class="col-md-3">
        </app-user>
    </div>
</div>

<!--<div class="container">
    <app-calculator ></app-calculator>
</div>-->