<div>
  <div class="card">
    <img class="card-img-top" src={{user.Path}} alt="Card image cap" style="height:130px; width:130px;">
    <div class="card-block">
      <h4 class="card-title">{{user.Name}}</h4>
      <p class="card-text">{{user.Description}}</p>
      <a href="#" class="btn btn-primary" routerLink="/{{user.Path}}">
        top
        <router-outlet></router-outlet>
        bottom
      </a>
    </div>
  </div>
</div>